@import '../../styles/variables.scss';

$border-color: #c4c6c7;
$error-color: #dc3545;

.input-group {
  position: relative;
  label {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 500;
  }

  input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    background-color: $light-color;
    border: 1px solid transparent;
    outline: none;
    transition: 0.3s border-color;
    .visited {
      border: 1px solid $border-color;
    }

    &.auto-width {
      width: auto;
    }

    &::placeholder {
      color: #c4c6c7;
    }

    &.input-error {
      border-color: $error-color;
    }
    &:active,
    &:focus-visible,
    &:focus {
      border: 1px solid $border-color;
      color: $text-color;
      outline: none;
      &::placeholder {
        color: $text-color;
      }
    }
  }

  .error-message {
    color: $error-color;
    font-size: 12px;
    margin-top: 4px;
  }

  .input-copy-button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: $border-radius;
    background-color: $alert-color;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 500;
    color: $light-color;
    cursor: pointer;
  }
}
.visited {
  border: 1px solid $border-color !important;
  color: $text-color !important;
  outline: none !important;
  &::placeholder {
    color: $text-color !important;
  }
}
