@import '../../styles/variables.scss';

.checkbox-container {
  background-color: $base-color;
  padding: 14px 26px 14px 14px;
  border-radius: $border-radius;
  display: inline-flex;
  align-items: center;
}

.custom-checkbox {
  display: flex;
  cursor: pointer;
  position: relative;
  gap: 14px;
  align-items: baseline;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid $accent-color;
    border-radius: 2px;
    transition:
      background-color 0.3s,
      border-color 0.3s;

    &.checked {
      background-color: $accent-color;
      border-color: $accent-color;
    }
  }

  .checkbox-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: $text-color;
  }
}
