.question-card {
  position: relative;
  background: url('../../assets/img/cardBg.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 18px 18px 24px 21px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.question-number {
  display: flex;
  gap: 54px;
}
