@import '../../styles/variables.scss';

.radio-container {
  background-color: $light-color;
  padding: 14px 26px;
  border-radius: $border-radius;
  display: inline-flex;
  align-items: center;
  margin-right: 13px;
  margin-bottom: 13px;

  .radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .radio-checkmark {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid $accent-color;
    border-radius: 2px;
    transition:
      background-color 0.3s,
      border-color 0.3s;

    &.checked {
      background-color: $accent-color;
      border-color: $accent-color;
    }
  }

  .radio-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: $text-color;
    display: inline-flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
  }
}