.availability-wrapper {
  display: flex;
  gap: 30px;
  margin-bottom: 43px;

  .card-ui-wrapper {
    max-width: unset;
    text-align: start;
  }

  span {
    width: auto;
  }

  p,
  label {
    margin-left: 13px;
  }

  .toggle-button-ui {
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 11px;
    margin-left: 13px;
  }

  .input-group {
    margin-bottom: 20px;
  }
}
