.settings-cards-wrapper {
  display: flex;
  width: 100%;
  gap: 42px;
  margin-bottom: 50px;

  @media screen and (max-width: 1170px) {
    flex-direction: column;
  }

  > div:first-of-type {
    width: 60%;

    @media screen and (max-width: 1170px) {
      width: auto;
  }
}

  .card-ui-wrapper {
    max-width: unset;
    position: relative;
  }

  .curved-block-border {
    height: 100%;
    position: relative;
  }

  .custom-logo-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-left: 0;

    p {
      text-align: center;
      margin-left: 0;
    }
  }
}

textarea::placeholder {
  color: #c3c3c3;
}

