$wrapper-background: #ffffff;
$wrapper-border-radius: 30px;
 
.wrapper {
  background-color: $wrapper-background;
  border-radius: $wrapper-border-radius;
   
  &.with-border {
    border: 1px solid #ccc;
  }

  &.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
