@import '../../styles/variables.scss';

.switcher-content {
  width: 34px;
  height: 17px;
  border-radius: 24px;
  transition: transform 0.15s linear;
}
.switch {
  position: absolute;
  display: inline-block;
  width: 31px;
  height: 12px;
  background-color: #d8d8d8;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.15s linear;

  &.active {
    background-color: #4c82a0;
  }

  .slider {
    position: absolute;
    top: -2px;
    left: 0px;
    width: 17px;
    height: 17px;
    background-color: #7f7f7f;
    border-radius: 50%;
    transition: transform 0.15s linear;

    &.active {
      transform: translateX(16px);
      background-color: $accent-color;
    }
  }
}

.switch-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #808080;
  text-align: center;

  &.active {
    color: $accent-color;
  }
}

.toggle-button-ui {
  display: flex;
  gap: 10px;
  align-items: end;
  flex-wrap: wrap-reverse;
  justify-content: center;
}
