@import '../../styles/variables.scss';

$primary-color: #1c597b;
$secondary-color: #6c757d;
$disabled-color: #d3d3d3;

.button {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gilroy', sans-serif;
  transition: all 0.3s;

  &.primary {
    background-color: $primary-color;
    color: $light-color;
  }

  &.secondary {
    background-color: $secondary-color;
    color: $light-color;
  }

  &.light {
    background-color: $light-color;
    color: #7F7F7F;
  }

  &.disabled {
    background-color: $disabled-color;
    cursor: not-allowed;
  }

  &.transparent {
    background-color: transparent;
    border: 1px solid #e4e4e4;
    border-radius: 50px;
    min-width: 34px;

    &:hover {
      background-color: #e4e4e4;
    }
  }

  .button-icon {
    margin-right: 8px;
  }
}
