$primary-color: #1c597b;
$secondary-color: #6c757d;
$disabled-color: #d3d3d3;

.button {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gilroy", sans-serif;
  transition: all 0.3s;

  &.primary {
    background-color: $primary-color;
    color: white;
  }

  &.secondary {
    background-color: $secondary-color;
    color: white;
  }

  &.disabled {
    background-color: $disabled-color;
    cursor: not-allowed;
  }

  &.transparent {
    background-color: transparent;
    border: 1px solid #E4E4E4;
    border-radius: 50px;
    min-width: 34px;

    &:hover {
      background-color: #E4E4E4;
    }
  }

  .button-icon {
    margin-right: 8px;
  }
}
