@import '../../styles/variables.scss';

$border-color: #c4c6c7;

.input-container {
  position: relative;
  width: 100%;
  height: 51px;
}

.styled-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.41px;
  width: 100%;
  box-sizing: border-box;
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 2;
}

.base-text {
  color: #c4c6c7;
}

.user-text {
  color: $text-color;
}

.transparent-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: $border-radius;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.41px;
  padding: 16px 32px 16px 40px;
  color: transparent;
  caret-color: black;
  outline: none;
  box-sizing: border-box;
  z-index: 1;
  border: 1px solid transparent;
}

.transparent-input:focus {
  border: 1px solid #c4c6c7;
  outline: none;
}

.transparent-input::placeholder {
  color: transparent;
}
