@import './styles/fonts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Gilroy', sans-serif;
  background-color: #f0f4f6;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
input,
textarea,
a {
  font-family: 'Gilroy', sans-serif;
}
