@import '../../styles/variables.scss';

.questionary-wrapper {
  width: 100%;
  background-color: transparent;

  .questionary-content {
    padding-top: 30px;
  }

  .registration-alert {
    width: 100%;
    background-color: $light-color;
    border-radius: $border-radius;
    padding: 24px 18px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 35px;

    @media screen and (max-width: 1400px) {
      flex-direction: column;
      gap: 32px;
    }

    .registration-alert-content {
      max-width: 50%;

      @media screen and (max-width: 1400px) {
        max-width: none;
      }
    }

    .registration-alert-title {
      font-size: 18px;
      color: $text-color;
      margin-bottom: 6px;
      font-weight: 500;

      &::before {
        content: url('../../assets/svg/alert.svg');
        margin-right: 3px;
      }
    }

    .registration-alert-text {
      margin-left: 28px;
      color: $light-text-color;
    }

    a {
      background-color: $accent-color;
      color: $light-color;
      border-radius: $border-radius;
      padding: 15px 20px;
      text-align: center;
    }
  }

  .answer-wrapper {
    width: 100%;
    background-color: $light-color;
    border-radius: $border-radius;
    padding: 24px 40px 40px 24px;

    @media screen and (max-width: 700px) {
      padding: 12px;
    }

    .questionary-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 30px;

      @media screen and (max-width: 540px) {
        flex-direction: column;
        align-items: center;
        gap: 12px;
      }

      .questionary-header-content {
        display: flex;
        gap: 16px;

        .questionary-header-title {
          font-size: 18px;
          color: $text-color;
          font-weight: 500;
        }

        .questionary-header-author {
          font-size: 14px;
          color: $light-text-color;

          &::after {
            content: url('../../../src/assets/svg/arrowUp.svg');
          }
        }
      }

      .button.primary {
        color: $accent-color;
        flex-direction: row-reverse;

        svg {
          width: 24px;
        }
      }
    }

    .questionary-content {
      width: 100%;
      background-color: $base-color;
      border-radius: $border-radius;
      padding: 24px 32px;

      @media screen and (max-width: 700px) {
        padding-left: 12px;
        padding-right: 12px;
      }

      .questionary-content-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 36px;

        @media screen and (max-width: 540px) {
          flex-direction: column;
          gap: 12px;
        }
      }

      .question-number {
        font-weight: 500;
        font-size: 18px;
        color: $text-color;

        span {
          color: $light-text-color;
        }
      }

      .questionary-content-subtitle {
        color: $light-text-color;
        font-size: 16px;
      }

      .progress {
        color: $light-text-color;
      }
    }

    .questionary-content-text {
      margin-bottom: 50px;

      .question-text {
        display: block;
        margin-bottom: 15px;
        margin-left: 26px;
      }

      .question-comment {
        color: $light-text-color;
        margin-top: 13px;
        margin-left: 26px;
      }

      .checkbox-container {
        background-color: $light-color;
        margin-right: 13px;
        margin-bottom: 13px;
      }
    }

    .questionary-content-footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @media screen and (max-width: 1540px) {
        flex-direction: column-reverse;
        align-items: center;
        gap: 18px;
      }

      .checkbox-container {
        border: 1px solid #E4E4E4;
      }
      .checkbox-label {
        color: $light-text-color;
      }

      .prev-button-wrapper {
        display: flex;
        gap: 48px;

        @media screen and (max-width: 1540px) {
          flex-direction: column;
          gap: 18px;
          align-items: center;
        }
      }

      .footer-text {
        color: $light-text-color;
        font-weight: 500;
        max-width: 50%;

        @media screen and (max-width: 1540px) {
          max-width: none;
        }
      }

      .button {
        border-radius: $border-radius;
        gap: 16px;
      }
    }
  }
}
