.file-input-wrapper {
  background: url('../../assets/img/fileBg.png');
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 30px;
  position: relative;

  .file-close-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  .file-input {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}