.file-input-wrapper {
  background: url('../../assets/img/fileBg.png');
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 30px;
  position: relative;

  .file-input {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  button {
    width: 37px;
    height: 37px;
    position: absolute;
    top: 0;
    right: 0;
  }
}
