.title-wrapper .links-wrapper {
  border: none;
}
.backward-btn.button.primary {
  padding: 15px 26px 15px 20px;
  align-items: baseline;
  gap: 13px;
  cursor: pointer;
}

.button .button-icon {
  margin-right: unset;
}

.control-roles {
  margin-bottom: 43px;
}
.control-roles .links-wrapper {
  flex-direction: row;
  padding-left: 0;
  @media screen and (max-width: 1024px) {
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
  }
}
.control-roles .title-wrapper a .create-page.button.primary {
  width: 275px;
  background-color: #1c597b;
  color: white;
}
.roles-mob .mobile-card-container {
  height: 147.5px;
}
